*{
    text-align: center;
    color: azure;
    font-family: fantasy;
}

body{
    background-color: #625a99;  

}

header{
    width: 70%;
    margin: auto;
    color: white;
    font-size: 16pt;
}

#tema{
    background-color: #231560;
    border-radius: 10px;
    padding: 10px;
}

ul{
    list-style-type: none;
    display: inline-flex;
    border: 4px dashed white;
    padding: 10px;
}

li a{
    text-decoration: none;
    font-size: 18pt;
    margin: 0px 60px;
    
}

input{
    color: black;
}

select{
    color: black;
}

#pie p{
    font-size: 10px;
}

#contenido{
    margin-top: 50px;
    width: 70%;
    background-color: #231560;
    margin: auto;
    border-radius: 30px;
    border: 4px dashed white;
    padding-top: 30px;
}

textarea{
    color: black;
}

.portadas{
    margin: auto;
    width: 450px;
    height: 650px;
}

.estrellas{
    margin: auto;
    width: 250px;
    height: 50px;
}

a{
    color: darkslateblue;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

a:hover{
    color: whitesmoke;
    font-weight: bold;
    font-size: 18pt;
    text-decoration: none;
}

.listaPalabras{
    color: black;
    background-color: violet;
    border: 1px solid violet;
    list-style-type: none;
    display: inline;
}

.php{
    color: blue;
    background-color: slateblue;
    border: 1px solid red;
    list-style-type: none;
    display: inline;
}

input[type=submit]{
    background-color: mediumslateblue;
    border: 1px dotted white;
    border-radius: 10px;
    margin: 0px 10px;
    color: white;
}