*{
    text-align: center;
    color: azure;
    font-family: fantasy;
    font-size: 17px;
}

body{
    background-color: #151515;  

}


input{
    color: black;
}

select{
    color: black;
}

#pie p{
    font-size: 10px;
}

#wrapper{
    width: 70%;
    background-color: #959496;
    margin: auto;
}

textarea{
    color: black;
}

.portadas{
    margin: auto;
    width: 450px;
    height: 650px;
}

.estrellas{
    margin: auto;
    width: 250px;
    height: 50px;
}

a{
    color: darkred;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

a:hover{
    color: whitesmoke;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}


.listaPalabras{
    color: black;
    background-color: cadetblue;
    border: 1px solid blue;
    list-style-type: none;
    display: inline;
}

.php{
    color: blue;
    background-color: lightcoral;
    border: 1px solid red;
    list-style-type: none;
    display: inline;
}